In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
csv2014 = "data/201405-citibike-tripdata.csv"
csv2019 = "data/201905-citibike-tripdata.csv"

In [3]:
# Read CSVs with the pandas library
csv2014_df = pd.read_csv(csv2014, encoding="ISO-8859-1")
csv2019_df = pd.read_csv(csv2019, encoding="ISO-8859-1")

In [4]:
# csv2014_df.head()
csv2014_df[["starttime", "stoptime"]].head()

             starttime             stoptime
0  2014-05-01 00:08:32  2014-05-01 00:11:10
1  2014-05-01 00:10:16  2014-05-01 00:17:23
2  2014-05-01 00:12:28  2014-05-01 00:18:25
3  2014-05-01 00:13:41  2014-05-01 00:16:29
4  2014-05-01 00:15:45  2014-05-01 00:26:23

In [5]:
# csv2019_df.head()
csv2019_df[["starttime", "stoptime"]].head()

                  starttime                  stoptime
0  2019-05-01 00:00:01.9010  2019-05-01 00:02:21.5170
1  2019-05-01 00:00:03.0210  2019-05-01 00:12:37.6920
2  2019-05-01 00:00:04.6270  2019-05-01 00:38:33.1710
3  2019-05-01 00:00:19.3340  2019-05-01 00:02:42.5200
4  2019-05-01 00:00:22.1840  2019-05-01 00:02:40.6480

In [6]:
# Remove the period and the last four digits from the 2019 time fields
csv2019_df["starttime"] = csv2019_df["starttime"].str.slice(0, -5)
csv2019_df["stoptime"] = csv2019_df["stoptime"].str.slice(0, -5)

In [7]:
csv2019_df[["starttime", "stoptime"]].head()

             starttime             stoptime
0  2019-05-01 00:00:01  2019-05-01 00:02:21
1  2019-05-01 00:00:03  2019-05-01 00:12:37
2  2019-05-01 00:00:04  2019-05-01 00:38:33
3  2019-05-01 00:00:19  2019-05-01 00:02:42
4  2019-05-01 00:00:22  2019-05-01 00:02:40

In [8]:
# Merge the two CSVs into one dataframe
csvmerged_df = csv2014_df.append(csv2019_df, ignore_index=True)

In [9]:
 # Export file as a CSV, without the Pandas index, but with the header
csvmerged_df.to_csv("data/201405_201905-citibike-tripdata.csv", index=False, header=True)